/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 17, 2024, 5:41:23 PM
    Author     : admin
*/

.error-message {
    color: red;
    font-size: 0.8rem;
}