<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/home/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/home/css/global.css}" rel="stylesheet">
        <link th:href="@{/home/css/index.css}" rel="stylesheet">
        <link th:href="@{/home/css/list.css}" rel="stylesheet">
        <link th:href="@{/home/css/popup.css}" rel="stylesheet">
        <link th:rel="stylesheet" type="text/css" th:href="@{/home/css/font-awesome.min.css}" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap" rel="stylesheet"> 
        <script th:src="@{/home/js/jquery-2.1.1.min.js}"></script>
        <script th:src="@{/home/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <section id="top">
            <div class="container">
                <div class="row">
                    <div class="top_1 clearfix">
                        <div class="col-sm-4">
                            <div class="top_1m text-center clearfix">
                                <h3 class="mgt"><a th:href="@{/}"><span class="col_3">Dairy</span> <img alt="abc"
                                                                                                        th:src="@{/home/img/logo.jpg}"> <span class="col_6">Farm</span></a></h3>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="top_1l clearfix">
                                <p class="mgt font_16 text-center"><i class="fa fa-map col_1"></i> <span
                                        class="col_6">Address:</span> 312/Gonia, Canada</p>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="top_1r text-right clearfix">
                                <div th:if="${username != null}">
                                    <h6 class="big mgt">Welcome, <span th:text="${username}"></span> <a class="button mgt" th:href="@{/logout}">logout</a></h6>
                                </div>
                                <div th:if="${username == null}">
                                    <h6 class="big mgt">
                                        <a class="button mgt" th:href="@{/login}">Login</a>
                                        <a class="button mgt" th:href="@{/register}">Register</a>
                                    </h6>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="header" class="clearfix cd-secondary-nav" style="height: 80px">
            <nav class="navbar nav_t">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"  th:href="@{/}"> <span class="col_3">Dairy</span> <img alt="abc" th:src="@{/home/img/logo.jpg}"> <span class="col_6">Farm</span></a>
                    </div>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">

                            <li><a class="m_tag" th:href="@{/}">Home</a></li>
                            <li><a class="m_tag" th:href="@{/about}">About</a></li>
                            <li><a class="m_tag" th:href="@{/products}">Product</a></li>
                            <li><a class="m_tag" th:href="@{/blog}">Blog</a></li>
                            <li><a class="m_tag active_tab" th:href="@{/listcattle}">Cattle</a></li>
                            <li><a class="m_tag" th:href="@{/contactus}">Contact Us</a></li>
                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
                                <ul class="dropdown-menu drop_3" role="menu">
                                    <li><a th:href="@{/mycart}">Shopping Cart</a></li>
                                   <li th:if="${username != null}"><a class="border_none" th:href="@{/purchasehistory}">Product History</a></li>
                                    <li th:if="${username != null}"><a class="border_none" th:href="@{/cowbuyinghistory}">Cow buying history</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            <li><a class="m_tag" href="#aboutModal" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i></a></li>

                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-bag"></i></a>
                                <ul class="dropdown-menu drop_1" role="menu">
                                    <li>
                                        <div class="drop_1i clearfix">
                                            <div class="col-sm-6">
                                               
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="drop_1il text-right clearfix"><h5 class="mgt"><a href="cart.html">VIEW CART</a></h5></div>
                                            </div>
                                        </div>
                                        <span th:each="p: ${pcart}">
                                            <span th:if="${username == p.userId.username and p.status != true}">
                                                <div class="drop_1i1 clearfix">
                                                    <div class="col-sm-6" style="margin-top: 8px">
                                                        <div class="drop_1i1l clearfix"><h6 class="mgt bold"><a href="#" th:text="${p.productid.productname}"></a> <br><span>$<span class="normal col_2" th:text="${p.productid.sale}"></span> </span><span style="font-size: 14px;">quantity:<span th:text="${p.quantity}"></span></h6></div>
                                                    </div>
                                                    <div class="col-sm-4" style="margin-top: 8px">
                                                        <div class="drop_1i1r clearfix"><a href="#"><img th:src="@{'/images/'+${p.productid.image}}" class="iw" alt="abc"></a></div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="drop_1i1l text-right clearfix"><h6 class="mgt bold"> <span><a th:href="@{/deletecart/{id}(id = ${p.id})}"><i class="fa fa-remove"></i></a></span></h6></div>
                                                    </div>
                                                </div>
                                            </span>
                                        </span>
                                        <div class="drop_1i2 clearfix">
                                            <div class="col-sm-6">
                                                <div class="drop_1il clearfix"><h5 class="mgt">TOTAL</h5></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="drop_1il text-right clearfix"><h5 class="mgt">$<span th:text="${totlal}"></span></h5></div>
                                            </div>
                                        </div>
                                        <div class="drop_1i3 text-center clearfix">
                                            <div class="col-sm-12">
                                                <h5><a class="button" href="/mycart">CHECKOUT</a></h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->

            </nav>
            <div class="popup" id="myPopup">
                <div class="toast">
                    <i class="fa fa-check"></i>
                    <div class="content">
                        <div class="title">Notification</div>
                        <span class="error">book now successfully</span>
                    </div>
                </div>
            </div>
        </section>

        <section id="center" class="center_o clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="center_o1 text-center">
                            <h1 class="mgt">Shop Detail</h1>
                            <h4><a href="#">Home</a> / Shop Detail</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="list">
            <div class="container">
                <div class="row">
                    <div class="list_1 clearfix">
                        <div class="col-sm-3">
                            <div class="list_1l clearfix">
                                <div class="list_1l3 clearfix" >
                                    <h4 class="mgt bg_1 normal">Special Cattle</h4>
                                    <div class="list_1l2i clearfix" th:each="c, iterStat : ${clist}" th:if="${iterStat.index < 15}">
                                        <div class="list_1l2ii mgt clearfix">
                                            <a th:href="@{/detailcattle/{id}(id = ${c.cattleId})}"><img th:src="@{'/images/'+${c.image}}" width="80" height="80"
                                                                                                        alt="abc"></a>
                                            <h5 class="mgt"><a th:href="@{/detailcattle/{id}(id = ${c.cattleId})}" th:text="${c.name}"></a></h5>
                                            <h6 th:text="${c.price}"></h6>
                                            <span class="col_5">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="shop_1rm clearfix">
                                <div class="shop_1ld1 clearfix">
                                    <div class="col-sm-6 space_left">
                                        <div class="shop_1ld1l clearfix">
                                            <div class="carousel slide article-slide" id="article-photo-carousel">

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner cont-slider">

                                                    <div class="item active">
                                                        <img title="" th:src="@{'/images/'+${cattle.image}}" alt="abc" class="iw"
                                                             style="height:410px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 space_right">
                                        <div class="shop_1ld1r clearfix">
                                            <div class="center_detail_2_right_inner clearfix">
                                                <h3 th:text="${cattle.name}"></h3>  
                                                <h4>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <a href="#">(3 user review)</a>
                                                </h4>
                                                <h5>
                                                    <span >Age:<span th:text="${cattle.dateOfBirth}"></span></span>
                                                    <span>Weight:<span th:text="${cattle.weight}"></span></span>
                                                </h5>
                                                <h5><span>Gender:<span th:if="${cattle.gender} == false">Male</span>
                                                        <span th:if="${cattle.gender == true}">Female</span></span>

                                                    <span>classify:<span th:text="${cattle.classify}"></span></span>
                                                </h5>
                                                <h2>$<span th:text="${cattle.price}"></span></h2>
                                                <p th:text="${cattle.description}"></p>     
                                                <form class="forms-sample" th:action="@{/listcattle}" th:object="${cattlesale}" method="post" id="myForm">
                                                    <span><input type="checkbox" th:value="true" name='assist'><i class="fa fa-truck"></i>Get transportation assist</span>
                                                    <input type="hidden" id="cattleId" name="cattleId.cattleId" th:value="${cattle.cattleId}" />
                                                    <div th:if="${username == null}">
                                                        <h6 class="big mgt"><a class="button mgt" href="/login">Book Now</a></h6>
                                                    </div>
                                                    <div th:if="${username != null}">
                                                        <h6 class="big mgt"><button class="button mgt" type="submit" >Book Now</button></h6>
                                                    </div>
                                                </form> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="center_detail_2_right_inner_2 clearfix">
                                    <!--                                    <ul class="nav nav-tabs">
                                                                            <li class="active"><a data-toggle="tab" href="#home_description">Explanation</a>
                                                                            </li>
                                                                            <li class=""><a data-toggle="tab" href="#menu_review">Comments (1)</a></li>
                                                                        </ul>-->

                                    <div class="tab-content clearfix">
                                        <div id="home_description" class="tab-pane fade active in clearfix">
                                            <div class="click clearfix">
                                                <div class="click_inner clearfix">
                                                    <h4 class="mgt">Lorem Ipsum</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
                                                        odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla
                                                        quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent
                                                        mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
                                                        Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad
                                                        litora torquent per conubia nostra, per inceptos himenaeos.
                                                        Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
                                                </div>
                                                <div class="click_inner clearfix">
                                                    <h4>Adipiscing Elit</h4>
                                                    <ul>
                                                        <li>Sed cursus ante dapibus diam Sed nisi. </li>
                                                        <li>Nulla quis sem at nibh elementum imperdiet.</li>
                                                        <li>Duis sagittis ipsum Praesent mauris.</li>
                                                        <li>Fusce nec tellus sed augue semper porta.</li>
                                                        <li>Mauris massa Vestibulum lacinia arcu eget nulla.</li>
                                                    </ul>
                                                </div>
                                                <div class="click_inner clearfix">
                                                    <h4>Integer Nec </h4>
                                                    <ul>
                                                        <li>Sed cursus ante dapibus diam Sed nisi. </li>
                                                        <li>Nulla quis sem at nibh elementum imperdiet.</li>
                                                        <li>Duis sagittis ipsum Praesent mauris.</li>
                                                        <li>Fusce nec tellus sed augue semper porta.</li>
                                                        <li>Mauris massa Vestibulum lacinia arcu eget nulla.</li>
                                                    </ul>
                                                </div>
                                                <div class="click_inner clearfix">
                                                    <p>Praesent libero Sed cursus ante dapibus diam. Sed nisi. Nulla quis
                                                        sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent
                                                        mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
                                                        Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad
                                                        litora torquent per conubia nostra, per inceptos himenaeos.
                                                        Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="enquiry">
            <div class="container">
                <div class="row">
                    <div class="enquiry_1 text-center clearfix">
                        <div class="col-sm-12">
                            <h4 class="mgt">NEWSLETTER</h4>
                            <p>Subscribe to our newsletter and get <span class="col_1">20%</span> off your first purchase
                            </p>
                            <div class="input-group">
                                <input type="text" class="form-control form_2" placeholder="Your Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        SUBSCRIBE</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer_1 clearfix">
                        <div class="col-sm-4">
                            <div class="footer_1l clearix">
                                <h4>GALLERY</h4>
                                <div class="footer_1li clearfix">
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/download (1).jpg}" height="70px" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/images (1).jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/download (2).jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer_1li clearfix">
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/thit.jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/images (2).jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/14488728322181.jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer_1m clearix">
                                <h4>QUICK LINKS</h4>
                                <div class="footer_1mi clearfix">
                                    <div class="col-sm-6 space_left col-xs-6">
                                        <div class="footer_1mil clearfix">
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Our Farmers</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">New Products</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Top Sellers</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">About Us</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Faq</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Contact Us</a></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 space_right col-xs-6">
                                        <div class="footer_1mil clearfix">
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Cheese and Curds</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Milk Products</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Butter</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Yogurt</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Ice Cream</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Other</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer_1r clearix">
                                <h4>GET IN TOUCH</h4>
                                <p class="font_16"><i class="fa fa-map col_1"></i> Address : -312/Gonia,Canada</p>
                                <p class="font_16"><i class="fa fa-phone col_1"></i> <a href="#">+91 (123) 456 7890</a></p>
                                <p class="font_16"><i class="fa fa-phone col_1"></i> <a href="#">info@gmail.com</a></p>
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_2 text-center clearfix">
                        <div class="col-sm-12">
                            <p class="mgt">© 2024 Your Website Cattle Management System<a class="col_1" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="input-group clearfix">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                /*****Fixed Menu******/
                var secondaryNav = $('.cd-secondary-nav'),
                        secondaryNavTopPosition = secondaryNav.offset().top;
                navbar_height = document.querySelector('.navbar').offsetHeight;

                $(window).on('scroll', function () {
                    if ($(window).scrollTop() > secondaryNavTopPosition + navbar_height) {
                        secondaryNav.addClass('is-fixed');
                        document.body.style.paddingTop = navbar_height + 'px';

                    } else {
                        secondaryNav.removeClass('is-fixed');
                        document.body.style.paddingTop = '0'
                    }
                });

            });
        </script>

        <script th:src="@{/home/js/ziehharmonika.js}"></script>

        <script>
            $(document).ready(function () {
                $('.ziehharmonika').ziehharmonika({
                    collapsible: true,
                    prefix: '★',
                    scroll: false
                });
            });
        </script>

        <script>
            $(document).on('click', '.number-spinner button', function () {
                var btn = $(this),
                        oldValue = btn.closest('.number-spinner').find('input').val().trim(),
                        newVal = 0;

                if (btn.attr('data-dir') == 'up') {
                    newVal = parseInt(oldValue) + 1;
                } else {
                    if (oldValue > 1) {
                        newVal = parseInt(oldValue) - 1;
                    } else {
                        newVal = 1;
                    }
                }
                btn.closest('.number-spinner').find('input').val(newVal);
            });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var myForm = document.getElementById('myForm');
                var popup = document.getElementById('myPopup');

                if (myForm && popup) {
                    myForm.addEventListener('submit', function (event) {
                        event.preventDefault(); // Ngăn chặn form gửi đi

                        popup.style.display = 'block';

                        // Tự động ẩn popup sau 3000 milliseconds (3 giây)
                        setTimeout(function () {
                            popup.style.display = 'none';
                        }, 2000);

                        // Tự động xử lý form sau 5000 milliseconds (5 giây)
                        setTimeout(function () {
                            myForm.submit(); // Gửi form sau khi xử lý
                        }, 1000);
                    });
                }
            });
        </script>


    </body>
</html>
