<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/home/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/home/css/global.css}" rel="stylesheet">
        <link th:href="@{/home/css/blog.css}" rel="stylesheet">
        <link th:rel="stylesheet" type="text/css" th:href="@{/home/css/font-awesome.min.css}" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap" rel="stylesheet"> 
        <script th:src="@{/home/js/jquery-2.1.1.min.js}"></script>
        <script th:src="@{/home/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section id="top">
            <div class="container">
                <div class="row">
                    <div class="top_1 clearfix">
                        <div class="col-sm-4">
                            <div class="top_1m text-center clearfix">
                                <h3 class="mgt"><a th:href="@{/}"><span class="col_3">Dairy</span> <img alt="abc" th:src="@{/home/img/logo.jpg}"> <span class="col_6">Farm</span></a></h3>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="top_1l clearfix">
                                <p class="mgt font_16 text-center"><i class="fa fa-map col_1"></i> <span class="col_6">Address:</span> 312/Gonia, Canada</p>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="top_1r text-right clearfix">
                                <div th:if="${username != null}">
                                    <h6 class="big mgt">Welcome, <span th:text="${username}"></span> <a class="button mgt" th:href="@{/logout}">logout</a></h6>
                                </div>
                                <div th:if="${username == null}">
                                    <h6 class="big mgt">
                                        <a class="button mgt" th:href="@{/login}">Login</a>
                                        <a class="button mgt" th:href="@{/register}">Register</a>
                                    </h6>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="header" class="clearfix cd-secondary-nav">
            <nav class="navbar nav_t">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"> <span class="col_3">Dairy</span> <img alt="abc" th:src="@{/home/img/logo.jpg}"> <span class="col_6">Farm</span></a>
                    </div>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">

                            <li><a class="m_tag" th:href="@{/}">Home</a></li>
                            <li><a class="m_tag" th:href="@{/about}">About</a></li>
                            <li><a class="m_tag" th:href="@{/products}">Product</a></li>
                            <li><a class="m_tag active_tab" th:href="@{/blog}">Blog</a></li>
                            <li><a class="m_tag" th:href="@{/listcattle}">Cattle</a></li>
                            <li><a class="m_tag" th:href="@{/contactus}">Contact Us</a></li>
                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
                                <ul class="dropdown-menu drop_3" role="menu">
                                    <li><a th:href="@{/mycart}">Shopping Cart</a></li>
                                    <!--                                    <li><a class="border_none" href="checkout.html">Checkout</a></li>-->
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            <li><a class="m_tag" href="#aboutModal" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i></a></li>

                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-bag"></i></a>
                                <ul class="dropdown-menu drop_1" role="menu">
                                    <li>
                                        <div class="drop_1i clearfix">
                                            <div class="col-sm-6">
                                                <div class="drop_1il clearfix"><h5 class="mgt">2 ITEMS</h5></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="drop_1il text-right clearfix"><h5 class="mgt"><a href="cart.html">VIEW CART</a></h5></div>
                                            </div>
                                        </div>
                                        <span th:each="p: ${pcart}">
                                            <span th:if="${username == p.userId.username and p.status != true}">
                                                <div class="drop_1i1 clearfix">
                                                    <div class="col-sm-6" style="margin-top: 8px">
                                                        <div class="drop_1i1l clearfix"><h6 class="mgt bold"><a href="#" th:text="${p.productid.productname}"></a> <br><span>$<span class="normal col_2" th:text="${p.productid.sale}"></span> </span><span style="font-size: 14px;">quantity:<span th:text="${p.quantity}"></span></h6></div>
                                                    </div>
                                                    <div class="col-sm-4" style="margin-top: 8px">
                                                        <div class="drop_1i1r clearfix"><a href="#"><img th:src="@{'images/'+${p.productid.image}}" class="iw" alt="abc"></a></div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="drop_1i1l text-right clearfix"><h6 class="mgt bold"> <span><a th:href="@{/deletecart/{id}(id = ${p.id})}"><i class="fa fa-remove"></i></a></span></h6></div>
                                                    </div>
                                                </div>
                                            </span>
                                        </span>
                                        <div class="drop_1i2 clearfix">
                                            <div class="col-sm-6">
                                                <div class="drop_1il clearfix"><h5 class="mgt">TOTAL</h5></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="drop_1il text-right clearfix"><h5 class="mgt">$<span th:text="${totlal}"></span></h5></div>
                                            </div>
                                        </div>
                                        <div class="drop_1i3 text-center clearfix">
                                            <div class="col-sm-12">
                                                <h5><a class="button" href="/mycart">CHECKOUT</a></h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

        </section>

        <section id="center" class="center_o clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="center_o1 text-center">
                            <h1 class="mgt">Blog</h1>
                            <h4><a href="#">Home</a> / Blog</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="blog" class="clearfix">
            <div class="container">
                <div class="row">
                    <div class="blog_1 clearfix">
                        <div class="col-sm-9">
                            <div class="blog_pg_1l1 mgt clearfix" th:each="b: ${lblog}">
                                <div class="grid clearfix">
                                    <figure class="effect-jazz">
                                        <a href="#"><img th:src="@{'/images/'+${b.image}}" height="450" class="iw" alt="img25"></a>
                                    </figure>
                                </div>
                                <div class="blog_pg_1l1i clearfix">
                                    <h3 class="mgt"><a href="#" th:text="${b.name}"></a></h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user col_1"></i> Eget Nulla</a></li>
                                        <li><a href="#"><i class="fa fa-calendar col_1" th:text="${b.date}"></i></a></li>
                                        <li><a href="#"><i class="fa fa-bars col_1"></i> The Nest</a></li>
                                    </ul>
                                    <p th:text="${b.description}"></p>
                                    <!--                                    <h5><a class="button" href="blog_detail.html">Read More</a></h5>-->
                                </div>
                            </div>
                            <div class="pages clearfix text-center">
                                <ul>
                                    <li><a href="blog_detail.html"><i class="fa fa-chevron-left"></i></a></li>
                                    <li class="act"><a href="blog_detail.html">1</a></li>
                                    <li><a href="blog_detail.html">2</a></li>
                                    <li><a href="blog_detail.html">3</a></li>
                                    <li><a href="blog_detail.html">4</a></li>
                                    <li><a href="blog_detail.html">5</a></li>
                                    <li><a href="blog_detail.html">6</a></li>
                                    <li><a href="blog_detail.html"><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="blog_1r clearfix">
                                <div class="blog_1r1 clearfix">
                                    <h4 class="mgt">RECENT POSTS</h4><br>
                                    <p class="mgt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntur.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntur.</p>
                                    <p class="border_none pdb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntur.</p>
                                </div>
                                <div class="blog_1r1 clearfix">
                                    <h4 class="mgt">LATEST TWITTER</h4><br>
                                    <p class="mgt">Make sure you are following <a class="col_1 bold" href="blog_detail.html">@PortaMarket</a> for all your Semper Porta needs!</p>
                                    <p>Make sure you are following <a class="col_1 bold" href="blog_detail.html">@PortaMarket</a> for all your Semper Porta needs!</p>
                                    <p class="border_none pdb">Make sure you are following <a class="col_1 bold" href="blog_detail.html">@PortaMarket</a> for all your Semper Porta needs!</p>
                                </div>
                                <div class="blog_1rst text-center clearfix">
                                    <h4 class="mgt big">About Us</h4><br>
                                    <div class="carousel slide" id="myCarousel1">
                                        <div class="carousel-inner">
                                            <div class="item active  mga">
                                                <img class="img-circle" th:src="@{/home/img/images (2).jpg}" alt="abc">
                                                <p>Class Aptent Taciti Sociosqu Ad Litora Torquent Per Conubia Nostra, Per Inceptos Himenaeos.</p>
                                                <h4 class="bold">Eget Nulla</h4>
                                                <h6 class="col_2">Owner</h6>
                                            </div><!-- /Slide1 --> 
                                            <div class="item  mga">
                                                <img class="img-circle" th:src="@{/home/img/images (1).jpg}" alt="abc">
                                                <p>Class Aptent Taciti Sociosqu Ad Litora Torquent Per Conubia Nostra, Per Inceptos Himenaeos.</p>
                                                <h4 class="bold">Lacinia Arcu </h4>
                                                <h6 class="col_2">Manager</h6>
                                            </div><!-- /Slide2 --> 
                                            <!-- /Slide3 --> 
                                        </div>
                                        <nav>
                                            <ul class="control-box pager mgb">
                                                <li><a data-slide="prev" href="#myCarousel1" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                                                <li><a data-slide="next" href="#myCarousel1" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="enquiry">
            <div class="container">
                <div class="row">
                    <div class="enquiry_1 text-center clearfix">
                        <div class="col-sm-12">
                            <h4 class="mgt">NEWSLETTER</h4>
                            <p>Subscribe to our newsletter and get <span class="col_1">20%</span> off your first purchase</p>
                            <div class="input-group">
                                <input type="text" class="form-control form_2" placeholder="Your Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        SUBSCRIBE</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer_1 clearfix">
                        <div class="col-sm-4">
                            <div class="footer_1l clearix">
                                <h4>GALLERY</h4>
                                <div class="footer_1li clearfix">
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/download (1).jpg}" height="70px" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/images (1).jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/download (2).jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer_1li clearfix">
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/thit.jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/images (2).jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/14488728322181.jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer_1m clearix">
                                <h4>QUICK LINKS</h4>
                                <div class="footer_1mi clearfix">
                                    <div class="col-sm-6 space_left col-xs-6">
                                        <div class="footer_1mil clearfix">
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Our Farmers</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">New Products</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Top Sellers</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">About Us</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Faq</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Contact Us</a></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 space_right col-xs-6">
                                        <div class="footer_1mil clearfix">
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Cheese and Curds</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Milk Products</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Butter</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Yogurt</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Ice Cream</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Other</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer_1r clearix">
                                <h4>GET IN TOUCH</h4>
                                <p class="font_16"><i class="fa fa-map col_1"></i> Address : -312/Gonia,Canada</p>
                                <p class="font_16"><i class="fa fa-phone col_1"></i> <a href="#">+91 (123) 456 7890</a></p>
                                <p class="font_16"><i class="fa fa-phone col_1"></i> <a href="#">info@gmail.com</a></p>
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_2 text-center clearfix">
                        <div class="col-sm-12">
                            <p class="mgt">© 2024 Your Website Cattle Management System<a class="col_1" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="input-group clearfix">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                /*****Fixed Menu******/
                var secondaryNav = $('.cd-secondary-nav'),
                        secondaryNavTopPosition = secondaryNav.offset().top;
                navbar_height = document.querySelector('.navbar').offsetHeight;

                $(window).on('scroll', function () {
                    if ($(window).scrollTop() > secondaryNavTopPosition + navbar_height) {
                        secondaryNav.addClass('is-fixed');
                        document.body.style.paddingTop = navbar_height + 'px';

                    } else {
                        secondaryNav.removeClass('is-fixed');
                        document.body.style.paddingTop = '0'
                    }
                });

            });
        </script>

    </body>
</html>
