<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Cattle</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/home/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/home/css/global.css}" rel="stylesheet">
        <link th:href="@{/home/css/index.css}" rel="stylesheet">
        <link th:rel="stylesheet" type="text/css" th:href="@{/home/css/font-awesome.min.css}" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap" rel="stylesheet"> 
        <script th:src="@{/home/js/jquery-2.1.1.min.js}"></script>
        <script th:src="@{/home/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <section id="top">
            <div class="container">
                <div class="row">
                    <div class="top_1 clearfix">
                        <div class="col-sm-4">
                            <div class="top_1m text-center clearfix">
                                <h3 class="mgt"><a th:href="@{/}"><span class="col_3">Dairy</span> <img alt="abc" th:src="@{/home/img/logo.jpg}"> <span class="col_6">Farm</span></a></h3>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="top_1l clearfix">
                                <p class="mgt font_16 text-center"><i class="fa fa-map col_1"></i> <span class="col_6">Address:</span> 312/Gonia, Canada</p>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="top_1r text-right clearfix">
                                <div th:if="${username != null}">
                                    <h6 class="big mgt">Welcome, <span th:text="${username}"></span> <a class="button mgt" th:href="@{/logout}">logout</a></h6>
                                </div>
                                <div th:if="${username == null}">
                                    <h6 class="big mgt">
                                        <a class="button mgt" th:href="@{/login}">Login</a>
                                        <a class="button mgt" th:href="@{/register}">Register</a>
                                    </h6>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="header" class="clearfix cd-secondary-nav">
            <nav class="navbar nav_t">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"> <span class="col_3">Dairy</span> <img alt="abc" th:src="@{/home/img/logo.jpg}"> <span class="col_6">Farm</span></a>
                    </div>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">

                            <li><a class="m_tag active_tab" th:href="@{/}">Home</a></li>
                            <li><a class="m_tag" th:href="@{/about}">About</a></li>
                            <li><a class="m_tag" th:href="@{/products}">Product</a></li>
                            <li><a class="m_tag" th:href="@{/blog}">Blog</a></li>
                            <li><a class="m_tag" th:href="@{/listcattle}">Cattle</a></li>
                            <li><a class="m_tag" th:href="@{/contactus}">Contact Us</a></li>
                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
                                <ul class="dropdown-menu drop_3" role="menu">
                                    <li><a th:href="@{/mycart}">Shopping Cart</a></li>
                                    <li th:if="${username != null}"><a class="border_none" th:href="@{/purchasehistory}">Product History</a></li>
                                    <li th:if="${username != null}"><a class="border_none" th:href="@{/cowbuyinghistory}">Cow buying history</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            <li><a class="m_tag" href="#aboutModal" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i></a></li>

                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-bag"></i></a>
                                <ul class="dropdown-menu drop_1" role="menu">
                                    <li>
                                        <div class="drop_1i clearfix">
                                            <div class="col-sm-6">
                                                <!--                                                <div class="drop_1il clearfix"><h5 class="mgt">2 ITEMS</h5></div>-->
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="drop_1il text-right clearfix"><h5 class="mgt"><a href="cart.html">VIEW CART</a></h5></div>
                                            </div>
                                        </div>
                                        <span th:each="p: ${pcart}">
                                            <span th:if="${username == p.userId.username and p.status != true}">
                                                <div class="drop_1i1 clearfix">
                                                    <div class="col-sm-6" style="margin-top: 8px">
                                                        <div class="drop_1i1l clearfix"><h6 class="mgt bold"><a href="#" th:text="${p.productid.productname}"></a> <br><span>$<span class="normal col_2" th:text="${p.productid.sale}"></span> </span><span style="font-size: 14px;">quantity:<span th:text="${p.quantity}"></span></h6></div>
                                                    </div>
                                                    <div class="col-sm-4" style="margin-top: 8px">
                                                        <div class="drop_1i1r clearfix"><a href="#"><img th:src="@{'images/'+${p.productid.image}}" class="iw" alt="abc"></a></div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="drop_1i1l text-right clearfix"><h6 class="mgt bold"> <span><a th:href="@{/deletecart/{id}(id = ${p.id})}"><i class="fa fa-remove"></i></a></span></h6></div>
                                                    </div>
                                                </div>
                                            </span>
                                        </span>
                                        <div class="drop_1i2 clearfix">
                                            <div class="col-sm-6">
                                                <div class="drop_1il clearfix"><h5 class="mgt">TOTAL</h5></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="drop_1il text-right clearfix"><h5 class="mgt">$<span th:text="${totlal}"></span></h5></div>
                                            </div>
                                        </div>
                                        <div class="drop_1i3 text-center clearfix">
                                            <div class="col-sm-12">
                                                <h5><a class="button" href="/mycart">CHECKOUT</a></h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

        </section>

        <div class="main clearfix">
            <div class="main_1 clearfix">
                <section id="center" class="center_home clearfix"> 
                    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
                        <!-- Overlay -->
                        <div class="overlay"></div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#bs-carousel" data-slide-to="1" class=""></li>
                            <li data-target="#bs-carousel" data-slide-to="2" class=""></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item slides active">
                                <div class="slide-1"></div>
                                <div class="hero clearfix">
                                    <div class="col-sm-12">
                                        <h1 class="big mgt col_5">FRESH</h1>
                                        <h3 class="big col">Dairy Produce</h3>
                                        <p class="col_4">Nulla Quis Sem At Nibh Elementum Imperdiet Fusce Nec Tellus Sed Augue Semper Porta Vestibulum Lacinia Arcu Eget Nulla!</p>
                                        <h5 class="big"><a class="button" href="#">Shop  Now</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item slides">
                                <div class="slide-2"></div>
                                <div class="hero clearfix">
                                    <div class="col-sm-12">
                                        <h1 class="big mgt col_5">Organic</h1>
                                        <h3 class="big col">MILK PRODUCTS</h3>
                                        <p class="col_4">Nulla Quis Sem At Nibh Elementum Imperdiet Fusce Nec Tellus Sed Augue Semper Porta Vestibulum Lacinia Arcu Eget Nulla!</p>
                                        <h5 class="big"><a class="button" href="#">Shop  Now</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item slides">
                                <div class="slide-3"></div>
                                <div class="hero clearfix">
                                    <div class="col-sm-12">
                                        <h1 class="big mgt col_5">FRESH</h1>
                                        <h3 class="big col">Dairy Produce</h3>
                                        <p class="col_4">Nulla Quis Sem At Nibh Elementum Imperdiet Fusce Nec Tellus Sed Augue Semper Porta Vestibulum Lacinia Arcu Eget Nulla!</p>
                                        <h5 class="big"><a class="button" href="#">Shop  Now</a></h5>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </section>
            </div>
            <div class="main_2 clearfix">
                <section id="qual">
                    <div class="container">
                        <div class="row">
                            <div class="qual_m clearfix">
                                <div class="qual_1 text-center clearfix">
                                    <div class="col-sm-12">
                                        <h3 class="mgt col_5">Quality Tested by Time</h3>
                                        <p class="col_4">We are the leading producer and processor of store-brand organic <br> dairy products for U.S. retailers. Based in California, we deliver high- <br> quality dairy products that are nationally recognized.</p>
                                        <h5><a class="button_1" href="#">READ MORE</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <section id="farm">
            <div class="container">
                <div class="row">
                    <div class="farm_1 text-center clearfix">
                        <div class="col-sm-12">
                            <h1 class="mgt">WELCOME TO OUR FARM</h1>
                        </div>
                    </div>
                    <div class="farm_2 clearfix">
                        <div class="col-sm-4">
                            <div class="farm_2i text-center clearfix">
                                <div class="grid clearfix">
                                    <figure class="effect-jazz">
                                        <a href="#"><img th:src="@{/home/img/8 (1).jpg}" class="iw" alt="img25"></a>
                                    </figure>
                                </div>
                                <h4>OUR PRODUCTS</h4>
                                <p>We provide our customers with a wide variety of dairy products, from organic milk to butter and cheese.</p>
                                <h5><a class="button_1" href="#">READ MORE</a></h5>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="farm_2i text-center clearfix">
                                <div class="grid clearfix">
                                    <figure class="effect-jazz">
                                        <a href="#"><img th:src="@{/home/img/9 (1).jpg}" class="iw" alt="img25"></a>
                                    </figure>
                                </div>
                                <h4>WHY ORGANIC?</h4>
                                <p>We provide our customers with a wide variety of dairy products, from organic milk to butter and cheese.</p>
                                <h5><a class="button_1" href="#">READ MORE</a></h5>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="farm_2i text-center clearfix">
                                <div class="grid clearfix">
                                    <figure class="effect-jazz">
                                        <a href="#"><img th:src="@{/home/img/download.jpg}" style="width: 116%" class="iw" alt="img25"></a>
                                    </figure>
                                </div>
                                <h4>WORKING PROCESS</h4>
                                <p>We provide our customers with a wide variety of dairy products, from organic milk to butter and cheese.</p>
                                <h5><a class="button_1" href="#">READ MORE</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="prod">
            <div class="container">
                <div class="row">
                    <div class="farm_1 text-center clearfix">
                        <div class="col-sm-12">
                            <h1 class="mgt">PRODUCTS</h1>
                        </div>
                    </div>
                    <div class="prod_1 clearfix">
                        <div class="carousel slide" id="myCarousel1">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-sm-3" th:each="i, iterStat : ${listp}" th:if="${iterStat.index < 4}">
                                        <div class="prod_1im clearfix">
                                            <div class="prod_1i clearfix">
                                                <div class="prod_1i1 clearfix">
                                                    <div class="grid clearfix">
                                                        <figure class="effect-jazz">
                                                            <a th:href="@{/homedetails/{id}(id = ${i.id})}"><img th:src="@{'/images/'+${i.image}}" class="iw" alt="img25" style="height: 200px"></a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="prod_1i2 clearfix">
                                                    <h6 class="mgt bg_1">
                                                        <span th:if="${i.status} == New">New</span>
                                                        <span th:if="${i.status} == Sale">Sale</span>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="prod_1ib text-center clearfix">
                                                <h5 th:text="${i.productname}"></h5>
                                                <h6 class="col_1 bold"><span class="normal"><i class="fa fa-dollar col_2"></i> <span th:text="${i.price}"></span></span>  <i class="fa fa-dollar" th:text="${i.sale}"></i></h6>
                                                <ul>
                                                    <span th:if="${username == null}">
                                                        <li><a class="bg_1" th:href="@{/homedetails/{id}(id = ${i.id})}"><i class="fa fa-search"></i></a></li>
                                                        <li><a class="bg_2" href="/login"><i class="fa fa-shopping-cart"></i></a></li>
                                                    </span>
                                                    <span th:if="${username != null}">
                                                        <li><a class="bg_1" th:href="@{/homedetails/{id}(id = ${i.id})}" style="margin-right: 50px"><i class="fa fa-search"></i></a></li>
                                                    </span>
                                                    <span th:if="${username != null}">
                                                        <form class="forms-sample" style="margin-top: -51px; margin-left: 70px;" th:action="@{/products}" th:object="${productcart}" method="post">
                                                            <input type="hidden" id="id" name="productid.id" th:value="${i.id}" />
                                                            <input type="hidden"  name="sellingprice" th:value="${i.sale}" />
                                                            <input type="hidden"  name="status" th:value="false" />
                                                            <li><button class="bg_2" ><i class="fa fa-shopping-cart"></i></button></li>
                                                        </form>
                                                    </span>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="item">
                                    <div class="col-sm-3" th:each="i, iterStat : ${listp}" th:if="${iterStat.index >= 4 && iterStat.index < 8}">
                                        <div class="prod_1im clearfix">
                                            <div class="prod_1i clearfix">
                                                <div class="prod_1i1 clearfix">
                                                    <div class="grid clearfix">
                                                        <figure class="effect-jazz">
                                                            <a th:href="@{/homedetails/{id}(id = ${i.id})}"><img th:src="@{'/images/'+${i.image}}" class="iw" alt="img25" style="height: 200px"></a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="prod_1i2 clearfix">
                                                    <h6 class="mgt bg_1">SALE</h6>
                                                </div>
                                            </div>
                                            <div class="prod_1ib text-center clearfix">
                                                <h5 th:text="${i.productname}"></h5>
                                                <h6 class="col_1 bold"><span class="normal"><i class="fa fa-dollar col_2"></i> <span th:text="${i.price}"></span></span>  <i class="fa fa-dollar" th:text="${i.sale}"></i></h6>
                                                <ul>
                                                    <span th:if="${username == null}">
                                                        <li><a class="bg_1" th:href="@{/homedetails/{id}(id = ${i.id})}"><i class="fa fa-search"></i></a></li>
                                                        <li><a class="bg_2" href="/login"><i class="fa fa-shopping-cart"></i></a></li>
                                                    </span>
                                                    <span th:if="${username != null}">
                                                        <li><a class="bg_1" th:href="@{/homedetails/{id}(id = ${i.id})}" style="margin-right: 50px"><i class="fa fa-search"></i></a></li>
                                                    </span>
                                                    <span th:if="${username != null}">
                                                        <form class="forms-sample" style="margin-top: -51px; margin-left: 70px;" th:action="@{/products}" th:object="${productcart}" method="post">
                                                            <input type="hidden" id="id" name="productid.id" th:value="${i.id}" />
                                                            <li><button class="bg_2" ><i class="fa fa-shopping-cart"></i></button></li>
                                                        </form>
                                                    </span>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <!-- /Slide3 --> 
                            </div>
                            <nav>
                                <ul class="control-box pager mgb">
                                    <li><a data-slide="prev" href="#myCarousel1" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                                    <li><a data-slide="next" href="#myCarousel1" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="choose">
            <div class="container">
                <div class="row">
                    <div class="farm_1 text-center clearfix">
                        <div class="col-sm-12">
                            <h1 class="mgt">WHY CHOOSE US</h1>
                        </div>
                    </div>
                    <div class="choose_1 clearfix">
                        <div class="col-sm-4">
                            <div class="choose_1l text-right clearfix">
                                <span><i class="fa fa-home"></i></span>
                                <h4><a href="#">MODERN FARM</a></h4>
                                <p>Milk Farm is a fully innovative farm, which combines modern methods of dairy production with traditions.</p>
                                <hr>
                                <span><i class="fa fa-home"></i></span>
                                <h4><a href="#">NO PESTICIDES</a></h4>
                                <p>Milk Farm is a fully innovative farm, which combines modern methods of dairy production with traditions.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="choose_1m clearfix">
                                <div class="grid clearfix">
                                    <figure class="effect-jazz">
                                        <a href="#"><img th:src="@{/home/img/19 (1).jpg}" class="iw" alt="img25"></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="choose_1l text-left clearfix">
                                <span><i class="fa fa-home"></i></span>
                                <h4><a href="#">100% ORGANIC</a></h4>
                                <p>Milk Farm is a fully innovative farm, which combines modern methods of dairy production with traditions.</p>
                                <hr>
                                <span><i class="fa fa-home"></i></span>
                                <h4><a href="#">NATURAL FEED</a></h4>
                                <p>Milk Farm is a fully innovative farm, which combines modern methods of dairy production with traditions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="sale">
            <div class="sale_m clearfix">
                <div class="container">
                    <div class="row">
                        <div class="sale_1 clearfix">
                            <div class="col-sm-12">
                                <h2 class="mgt col_5">SUMMER SALE</h2>
                                <h4 class="col"><span class="col_1">-40%</span> ON ALL PRODUCTS </h4>
                                <p class="col_4">Purchase the best organic dairy products for your family at our <br> online shop and save more money than anywhere else.</p>
                                <h5><a class="button" href="#">SHOP NOW</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about_h">
            <div class="container">
                <div class="row">
                    <div class="farm_1 text-center clearfix">
                        <div class="col-sm-12">
                            <h1 class="mgt">ABOUT US</h1>
                        </div>
                    </div>  
                    <div class="about_h_1 clearfix">
                        <div class="col-sm-6">
                            <div class="about_h_1l clearfix">
                                <div class="grid clearfix">
                                    <figure class="effect-jazz">
                                        <a href="#"><img th:src="@{/home/img/211.jpg}" class="iw" alt="img25"></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="about_h_1r clearfix">
                                <ul class="nav_1 mgt">
                                    <li class="active"><a data-toggle="tab" href="#home">OUR MISSION </a></li>
                                    <li class=""><a data-toggle="tab" href="#menu1">QUALITY CONTROL </a></li>
                                    <li><a data-toggle="tab" href="#menu2">OUR GOALS </a></li>
                                </ul>
                                <div class="tab-content clearfix">
                                    <div id="home" class="tab-pane fade clearfix active in">
                                        <div class="click clearfix">
                                            <h4 class="mgt">INTEGRATING INNOVATIONS <br> INTO DAIRY TRADITIONS</h4>
                                            <p>Our mission is to create a sustainable, environmentally and technologically advanced dairy farm. We adhere to traditions of raising cows naturally combined with innovations.Our mission is to create a sustainable, environmentally and technologically advanced dairy farm. We adhere to traditions of raising cows naturally combined with innovations.
                                            </p>
                                            <h5><a class="button_1" href="#">READ MORE</a></h5>
                                        </div>
                                    </div>

                                    <div id="menu1" class="tab-pane fade clearfix">
                                        <div class="click clearfix">
                                            <h4 class="mgt">ENSURING THE HIGHEST<br> QUALITY OF OUR PRODUCTS</h4>
                                            <p>Our mission is to create a sustainable, environmentally and technologically advanced dairy farm. We adhere to traditions of raising cows naturally combined with innovations.Our mission is to create a sustainable, environmentally and technologically advanced dairy farm. We adhere to traditions of raising cows naturally combined with innovations.
                                            </p>
                                            <h5><a class="button_1" href="#">READ MORE</a></h5>
                                        </div>
                                    </div>
                                    <div id="menu2" class="tab-pane fade clearfix">
                                        <div class="click clearfix">
                                            <h4 class="mgt">OUR POSITION IS PRINCIPLED TO <br> FEED YOU WITH TASTY PRODUCE</h4>
                                            <p>Our mission is to create a sustainable, environmentally and technologically advanced dairy farm. We adhere to traditions of raising cows naturally combined with innovations.Our mission is to create a sustainable, environmentally and technologically advanced dairy farm. We adhere to traditions of raising cows naturally combined with innovations.
                                            </p>
                                            <h5><a class="button_1" href="#">READ MORE</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>

        <section id="team_h">
            <div class="container">
                <div class="row">
                    <div class="farm_1 text-center clearfix">
                        <div class="col-sm-12">
                            <h1 class="mgt">OUR TEAM</h1>
                        </div>
                    </div>  
                    <div class="team_h1 clearfix">
                        <div class="col-sm-4">
                            <div class="team_h1i text-center clearfix">
                                <img th:src="@{/home/img/222.jpg}" class="iw img-circle" alt="img25">
                                <h4><a href="#">Lorem Magnis</a></h4>
                                <p>Richard has a wide experience in every dairy farming aspect as he’s been in the industry for over 20 years.</p>
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team_h1i text-center clearfix">
                                <img th:src="@{/home/img/223.jpg}" class="iw img-circle" alt="img25">
                                <h4><a href="#">Eget Nulla</a></h4>
                                <p>Richard has a wide experience in every dairy farming aspect as he’s been in the industry for over 20 years.</p>
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team_h1i text-center clearfix">
                                <img th:src="@{home/img/224.jpg}" class="iw img-circle" alt="img25">
                                <h4><a href="#">Dapibus Diam</a></h4>
                                <p>Richard has a wide experience in every dairy farming aspect as he’s been in the industry for over 20 years.</p>
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="sale_o">
            <div class="sale_m clearfix">
                <div class="container">
                    <div class="row">
                        <div class="sale_1 text-center clearfix">
                            <div class="col-sm-12">
                                <h3 class="col_5">Featured Dairy Recipes </h3>
                                <h1 class="col">FROM OUR FARMERS</h1>
                                <p class="col_4">Purchase the best organic dairy products for your family at our <br> online shop and save more money than anywhere else.</p>
                                <h5><a class="button" href="#">READ MORE</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="client">
            <div class="container">
                <div class="row">
                    <div class="farm_1 text-center clearfix">
                        <div class="col-sm-12">
                            <h1 class="mgt">OUR CLIENTS</h1>
                        </div>
                    </div>  
                    <div class="testim_1 clearfix">
                        <div id="carousel-example1" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-sm-4">
                                        <div class="testim1 clearfix">
                                            <h4 class="mgt">Best Dairy</h4>
                                            <p>You have the best milk in the whole state! I’ve never tasted something this tasty and I think of becoming your regular client.</p>
                                            <div class="testim_1i2i clearfix">
                                                <img th:src="@{/home/img/226.jpg}" class="img-circle" alt="abc">
                                                <h4 class="col_1 mgt">Eget Nulla <br> <span class="font_16 col_2">From USA</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="testim1 clearfix">
                                            <h4 class="mgt">Nice Farm</h4>
                                            <p>Milk Farm is awesome in many ways. It has the best farmers and a wide range of great dairy products that I regularly buy.</p>
                                            <div class="testim_1i2i clearfix">
                                                <img th:src="@{/home/img/227.jpg}" class="img-circle" alt="abc">
                                                <h4 class="col_1 mgt">Dapibus Diam <br> <span class="font_16 col_2">From Australia</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="testim1 clearfix">
                                            <h4 class="mgt">Best Product</h4>
                                            <p>You have the best milk in the whole state! I’ve never tasted something this tasty and I think of becoming your regular client.</p>
                                            <div class="testim_1i2i clearfix">
                                                <img th:src="@{/home/img/228.jpg}" class="img-circle" alt="abc">
                                                <h4 class="col_1 mgt">Semper Porta <br> <span class="font_16 col_2">From India</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-sm-4">
                                        <div class="testim1 clearfix">
                                            <h4 class="mgt">Best Dairy</h4>
                                            <p>You have the best milk in the whole state! I’ve never tasted something this tasty and I think of becoming your regular client.</p>
                                            <div class="testim_1i2i clearfix">
                                                <img th:src="@{/home/img/226.jpg}" class="img-circle" alt="abc">
                                                <h4 class="col_1 mgt">Eget Nulla <br> <span class="font_16 col_2">From USA</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="testim1 clearfix">
                                            <h4 class="mgt">Nice Farm</h4>
                                            <p>Milk Farm is awesome in many ways. It has the best farmers and a wide range of great dairy products that I regularly buy.</p>
                                            <div class="testim_1i2i clearfix">
                                                <img th:src="@{/home/img/227.jpg}" class="img-circle" alt="abc">
                                                <h4 class="col_1 mgt">Dapibus Diam <br> <span class="font_16 col_2">From Australia</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="testim1 clearfix">
                                            <h4 class="mgt">Best Product</h4>
                                            <p>You have the best milk in the whole state! I’ve never tasted something this tasty and I think of becoming your regular client.</p>
                                            <div class="testim_1i2i clearfix">
                                                <img th:src="@{/home/img/228.jpg}" class="img-circle" alt="abc">
                                                <h4 class="col_1 mgt">Semper Porta <br> <span class="font_16 col_2">From India</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="popular_3 text-center clearfix">
                            <div class="col-sm-12">
                                <!-- Controls -->
                                <div class="controls">
                                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example1" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example1" data-slide="next"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="news_h">
            <div class="container">
                <div class="row">
                    <div class="farm_1 text-center clearfix">
                        <div class="col-sm-12">
                            <h1 class="mgt">LATEST NEWS</h1>
                        </div>
                    </div>  
                    <div class="news_h1 clearfix">
                        <div class="col-sm-6">
                            <div class="news_h1l clearfix">
                                <div class="news_h1l1 clearfix">
                                    <div class="news_h1l2 clearfix">
                                        <h6 class="col_4">August 19, 2021</h6>
                                        <h4><a class="col" href="#">How Milk is Produced Nowadays: Interview with Our Founder</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="news_h1r mgt clearfix">
                                <div class="col-sm-6 space_left">
                                    <div class="news_h1rl clearfix">
                                        <div class="grid clearfix">
                                            <figure class="effect-jazz">
                                                <a href="#"><img th:src="@{/home/img/30 (1).jpg}" class="iw" alt="img25"></a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 space_right">
                                    <div class="news_h1rr clearfix">
                                        <h6>August 19, 2020</h6>
                                        <h4 class="line_1"><a href="#">Can Innovations Improve Dairy Production?</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="news_h1r clearfix">
                                <div class="col-sm-6 space_left">
                                    <div class="news_h1rl clearfix">
                                        <div class="grid clearfix">
                                            <figure class="effect-jazz">
                                                <a href="#"><img th:src="@{/home/img/31 (1).jpg}" class="iw" alt="img25"></a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 space_right">
                                    <div class="news_h1rr clearfix">
                                        <h6>August 19, 2020</h6>
                                        <h4 class="line_1"><a href="#">Why You Should Avoid Pesticides in Your Milk</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="enquiry">
            <div class="container">
                <div class="row">
                    <div class="enquiry_1 text-center clearfix">
                        <div class="col-sm-12">
                            <h4 class="mgt">NEWSLETTER</h4>
                            <p>Subscribe to our newsletter and get <span class="col_1">20%</span> off your first purchase</p>
                            <div class="input-group">
                                <input type="text" class="form-control form_2" placeholder="Your Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        SUBSCRIBE</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer_1 clearfix">
                        <div class="col-sm-4">
                            <div class="footer_1l clearix">
                                <h4>GALLERY</h4>
                                <div class="footer_1li clearfix">
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/download (1).jpg}" height="70px" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/images (1).jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/download (2).jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer_1li clearfix">
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/thit.jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/images (2).jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/14488728322181.jpg}" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer_1m clearix">
                                <h4>QUICK LINKS</h4>
                                <div class="footer_1mi clearfix">
                                    <div class="col-sm-6 space_left col-xs-6">
                                        <div class="footer_1mil clearfix">
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Our Farmers</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">New Products</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Top Sellers</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">About Us</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Faq</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Contact Us</a></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 space_right col-xs-6">
                                        <div class="footer_1mil clearfix">
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Cheese and Curds</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Milk Products</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Butter</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Yogurt</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Ice Cream</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Other</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer_1r clearix">
                                <h4>GET IN TOUCH</h4>
                                <p class="font_16"><i class="fa fa-map col_1"></i> Address : -312/Gonia,Canada</p>
                                <p class="font_16"><i class="fa fa-phone col_1"></i> <a href="#">+91 (123) 456 7890</a></p>
                                <p class="font_16"><i class="fa fa-phone col_1"></i> <a href="#">info@gmail.com</a></p>
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_2 text-center clearfix">
                        <div class="col-sm-12">
                            <p class="mgt">© 2024 Your Website Cattle Management System<a class="col_1" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="input-group clearfix">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                /*****Fixed Menu******/
                var secondaryNav = $('.cd-secondary-nav'),
                        secondaryNavTopPosition = secondaryNav.offset().top;
                navbar_height = document.querySelector('.navbar').offsetHeight;

                $(window).on('scroll', function () {
                    if ($(window).scrollTop() > secondaryNavTopPosition + navbar_height) {
                        secondaryNav.addClass('is-fixed');
                        document.body.style.paddingTop = navbar_height + 'px';

                    } else {
                        secondaryNav.removeClass('is-fixed');
                        document.body.style.paddingTop = '0'
                    }
                });

            });
        </script>
    </body>
</html>
